/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/screen.scss */
.pMargin {
    margin: 1em;
    position: relative;
    top: 50%;
}

/* line 41, ../sass/screen.scss */
body {
  background: #474645;
}

/* line 44, ../sass/screen.scss */
body h1 {
  font-size: 9rem;
  color: whitesmoke;
}

/* line 49, ../sass/screen.scss */
body #center-square {
  width: 14.14rem;
  height: 14.14rem;
  background: black;
  z-index: 10;
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 28%;
  left: 40.7%;
  cursor: pointer;
}

/* line 60, ../sass/screen.scss */
body #center-square #start {
  font-size: 2rem;
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: 35%;
  top: 40%;
  color: whitesmoke;
}

/* line 68, ../sass/screen.scss */
body #center-square #round {
  font-size: 1.4rem;
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: 5%;
  top: 64%;
  color: whitesmoke;
}

/* line 79, ../sass/screen.scss */
body .top-left-triangle {
  width: 0;
  height: 0;
  position: absolute;
  opacity: .3;
  border-top: 10rem solid #67C2DB;
  border-right: 10rem solid transparent;
  left: 37%;
}

/* line 84, ../sass/screen.scss */
body .top-right-triangle {
  width: 0;
  height: 0;
  position: absolute;
  opacity: .3;
  border-top: 10rem solid #EF271B;
  border-left: 10rem solid transparent;
  left: 49.5%;
}

/* line 89, ../sass/screen.scss */
body .bottom-left-triangle {
  width: 0;
  height: 0;
  position: absolute;
  opacity: .3;
  border-right: 10rem solid transparent;
  border-bottom: 10rem solid #FCFF4B;
  top: 44%;
  left: 37%;
}

/* line 95, ../sass/screen.scss */
body .bottom-right-triangle {
  width: 0;
  height: 0;
  position: absolute;
  opacity: .3;
  border-bottom: 10rem solid #80DB48;
  border-left: 10rem solid transparent;
  left: 49.5%;
  top: 44%;
}
